.breadcrumb-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  a {
    text-decoration: none;
  }
  span {
    padding: 4px 8px;
    border-radius: 6px;
  }
  &.active {
    font-weight: 600;
    span {
      background-color: $je-breadcrumb-active;
    }
  }
  & + .breadcrumb-item::before {
    --je-breadcrumb-divider: '>';
    color: $je-breadcrumb-divider;
  }
}
