//
// Breadcrumbs
//

.breadcrumb {
    &-item {
        a {
            color: $je-gray-700;
            text-decoration: none;

            &:hover {
                color: $secondary;
            }
        }
        &.active {
            span {
                background-color: $je-breadcrumb-active;
            }
        }
    }
}