.person-card {
  flex-direction: row;
  &__image {
    aspect-ratio: 107 / 140;
    object-fit: cover;
  }
  &__content {
    .badge.rounded-pill.bg-primary {
      color: $je-primary;
      background-color: $je-body-bg !important;
      padding: 10px 16px;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
    }
  }
}
