// Jensen Theme Styleguide
$je-primary: #092435;
$je-secondary: #c19c5c;
$je-body-bg: #f6f5f1;
$je-gray-100: #aaaaaa;
$je-gray-200: #E9EAEC;
$je-gray-300: #A0AEC0;
$je-gray-400: #222222;
$je-gray-500: #D0D5DD;
$je-gray-600: #344054;
$je-gray-700: #475467;
$je-font-inter: "Inter", serif;
$je-font-tiempos-fine: "Tiempos Fine";
$je-font-tiempos-headline: "Tiempos Headline";
$je-font-tiempos-text: "Tiempos Text";
$je-font-body: $je-font-inter;
$je-letter-spacing-2: 2px;
$je-letter-spacing-3: 3px;
$je-breadcrumb-active: #EBEAE6;

// Bootstrap default overrides

// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900,
);
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: tomato;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  'blue': $blue,
  'indigo': $indigo,
  'purple': $purple,
  'pink': $pink,
  'red': $red,
  'orange': $orange,
  'yellow': $yellow,
  'green': $green,
  'teal': $teal,
  'cyan': $cyan,
  'black': $black,
  'white': $white,
  'gray': $gray-600,
  'gray-dark': $gray-800,
);
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary: $je-primary;
$secondary: $je-secondary;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $je-gray-200;
$dark: $gray-900;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);
// scss-docs-end theme-colors-map

// Prefix for :root CSS variables
$variable-prefix: je-; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix;

// scss-docs-start spacer-variables-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);
// scss-docs-end spacer-variables-maps

// Fonts, line-height, headings
$font-family-sans-serif: $je-font-body;
$font-size-root: null;
$font-size-base: 1rem;
$font-size-xs: $font-size-base * .75;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

$line-height-normal: 1;
$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$h1-font-size: $font-size-base * 7;
$h2-font-size: $font-size-base * 4;
$h3-font-size: $font-size-base * 2.875;
$h4-font-size: $font-size-base * 2;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base;

// Settings for the `<body>` element.
$body-color: $je-primary;
$body-bg: $je-body-bg;

// scss-docs-start btn-variables
$btn-font-size: $font-size-sm;
$btn-font-weight: 700;
$btn-padding-y: $spacer * 0.75;
$btn-line-height: $line-height-normal;
$btn-padding-y-lg: $spacer * 1.5;
$btn-padding-x-lg: $spacer * 2;
$btn-font-size-lg: $font-size-sm;
$btn-border-radius-lg: $spacer * 0.125;
// scss-docs-end btn-variables

// scss-docs-start card-variables
$card-border-width: 0;
$card-border-radius: $spacer * 0.125;
$card-cap-padding-y: $spacer * 1.5;
$card-cap-padding-x: $spacer * 1.5;
$card-cap-bg: $white;
// $card-spacer-x: 24px;
// $card-spacer-y: 24px;
$card-bg: $white;
$card-box-shadow: 0px 1px 3px rgba($black, 0.1), 0px 1px 2px -1px rgba($black, 0.1);

// scss-docs-end card-variables

// scss-docs-start border-variables
$border-width: 1px;
$border-color: $je-gray-100;
// scss-docs-end border-variables

// scss-docs-start border-radius-variables
$border-radius: 0.125rem;
// scss-docs-end border-radius-variables

// scss-docs-start form-input-variables
$input-padding-y: $spacer * 0.438;
$input-btn-padding-x: $spacer;
$input-border-radius-lg: $border-radius;
$input-font-size-lg: $spacer;
$input-padding-y-lg: $spacer;
$input-padding-x-lg: $spacer * 1.25;
$input-bg: $white;
$input-border-color: $je-gray-200;
$input-placeholder-color: $je-gray-300;
// scss-docs-end form-input-variables

// scss-docs-start breadcrumb-variables
$breadcrumb-font-size: $font-size-sm;
$breadcrumb-item-padding-x: $spacer * 0.875;
$breadcrumb-divider-color: $je-gray-500;
$breadcrumb-active-color: $je-gray-600;
$breadcrumb-divider: quote(">");
$breadcrumb-divider-flipped: $breadcrumb-divider;
// scss-docs-end breadcrumb-variables

// scss-docs-start pagination-variables
$pagination-padding-y: $spacer * .5;
$pagination-padding-x: $spacer;
$pagination-font-size: $font-size-sm;

$pagination-color: $je-gray-700;
$pagination-border-color: rgba($black, 0);
$pagination-margin-start: $spacer * 0.125;

$pagination-focus-color: $primary;
$pagination-focus-bg: rgba($black, 0);
$pagination-focus-box-shadow: none;
$pagination-focus-outline: 0;

$pagination-hover-color: $white;
$pagination-hover-bg: $primary;
$pagination-hover-border-color: $primary;

$pagination-active-color: $primary;
$pagination-active-bg: rgba($black, 0);
$pagination-active-border-color: $primary;

$pagination-disabled-color: $je-gray-300;
$pagination-disabled-bg: none;
$pagination-disabled-border-color: $je-gray-200;
// scss-docs-end pagination-variables

// scss-docs-start dropdown-variables
$dropdown-font-size: $font-size-sm;
$dropdown-link-hover-bg: $white;
// scss-docs-end dropdown-variables

// scss-docs-start modal-variables
$modal-inner-padding: $spacer;
$modal-content-border-width: 0;
$modal-content-border-radius: 0;
$modal-header-border-width: 1px;
$modal-footer-border-width: 0;
$modal-inner-padding: 0;
$modal-header-padding: 0;
$modal-sm: 500px;
$modal-lg: 766px;
// scss-docs-end modal-variables


// scss-docs-start close-variables
$btn-close-opacity: 1;
$btn-close-hover-opacity: .5;
$btn-close-focus-opacity: 1;
// scss-docs-end close-variables


// Utilities
$utilities: ();

$utilities: map-merge(
  (
    'letter-spacing': (
      property: letter-spacing,
      class: ls,
      values: (
        2: $je-letter-spacing-2,
        3: $je-letter-spacing-3,
      ),
    ),
    'border-bottom-style': (
      property: border-bottom-style,
      class: border-b-style,
      values: (
        dashed: dashed,
      ),
    ),
    'width': (
      property: width,
      class: w,
      values: (
        32px: 32px,
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    'height': (
      property: height,
      class: h,
      values: (
        32px: 32px,
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "font-family": (
      property: font-family,
      class: font,
      values: (
        monospace: var(--#{$prefix}font-monospace),
        tiempos-fine: $je-font-tiempos-fine,
        tiempos-text: $je-font-tiempos-text,
      )
    ),
    "text-size": (
      property: font-size,
      class: text,
      values: (
        xs: $font-size-xs,
        sm: $font-size-sm,
        lg: $spacer * 1.125
      )
    ),
    "shadow": (
      property: box-shadow,
      class: shadow,
      values: (
        null: var(--#{$prefix}box-shadow),
        sm: var(--#{$prefix}box-shadow-sm),
        lg: var(--#{$prefix}box-shadow-lg),
        card: $card-box-shadow,
        none: none,
      )
    ),
  ),
  $utilities
);
